<%- include("./partials/head.ejs") %>
<%- include("./partials/nav.ejs") %>

<div class="reservation-content">
    <h2>All Reservations</h2>
    <% if (reservations.length> 0){%>
    <%  reservations.forEach(reservation=>{%>
    <h3 class="name"><%= reservation.firstname %></h3>
    <p class="email"><%= reservation.email %></p>
    <p class="phone"><%= reservation.phone %></p>
    <p class="request"><%= reservation.request %></p>

    <% })%>

    <% } else {%>
    <p>There are no reservations at the moment</p>
    <%}%>


</div>
<%- include("./partials/footer.ejs") %>
    </body>


    </html>